---
layout: base
---

<div class="home-contents">
    <div class="header">
        <h1>william341</h1>
        <div class="links"><a href="https://blogs.mailliw.org">blog</a> <a href="https://github.com/143mailliw">github</a> matrix: @143mailliw:chat.mailliw.org</div>
    </div>
    <h2>projects</h2>
    <div class="projects">
        <div class="project">
            <h3>muzak (working name)</h3>
            <div>
                <p>
                    muzak is a fully-native, performant cross-platform
                    (macOS, Linux, Windows) music player written in
                    Rust, using GPUI. it's focused on usability,
                    features, and extensibility.
                </p>
                <p class="project-links">
                    <a href="https://github.com/143mailliw/muzak"
                        >source code</a
                    >,
                    <a
                        href="https://github.com/143mailliw/muzak/releases/tag/latest"
                        >ci builds</a
                    >
                </p>
            </div>
        </div>
        <div class="project">
            <h3>boing</h3>
            <div>
                <p>
                    boing is Super Smash Bros. meets Ricochet meets Team Fortress 2.<br>
                    stuck in development hell since 2022, mainly due to engine issues.
                </p>
            </div>
        </div>
        <details class="old-stuff">
            <summary>old stuff</summary>
            <div class="projects">
                <div class="project">
                    <h3>starship</h3>
                    <div class="project-date">2020-2025</div>
                    <div>
                        <p>
                            starship was a groupware meets social networking platform. it was built using GraphQL, React, and Node.js.
                            it was designed to allow users to create communities and share content easily among groups.
                        </p>
                        <p class="project-links">
                            <a href="https://github.com/starshipapp/starship-web-client"
                                >client</a
                            >,
                            <a
                                href="https://github.com/starshipapp/starship-server"
                                >server</a
                            >,
                            <a
                                href="https://github.com/143mailliw/starship-server-rs"
                                >abandoned rust rewrite</a
                            >
                        </p>
                    </div>
                </div>
                <div class="project">
                    <h3>laser studio</h3>
                    <div class="project-date">2022</div>
                    <div>
                        <p>
                            laser studio was an IDE for Tower Unite laser expressions. it includes a documentation viewer, basic code editor,
                            an execution environment, and a debugger.
                        </p>
                        <p class="project-links">
                            <a href="https://github.com/143mailliw/laser_studio_rs"
                                >source code (broken)</a
                            >
                    </div>
                </div>
            </div>
        </details>
    </div>
</div>
