body {
    background: #0a0a0f;
    color: #f4f4f5;
    display: flex;
    font-family: "Libre Franklin", sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    font-stretch: expanded;
    font-weight: 500;
}

.home-contents {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-top: 3rem;
    max-width: 38rem;
}

h1 {
    font-size: 2.5rem;
    line-height: 100%;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.header {
    margin-bottom: 0.5rem;
    margin-left: -0.25rem;
}

h2 {
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

h3 {
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
}

.project {
    max-width: 38rem;
}

p,
.like-paragraph {
    display: block;
    margin-bottom: 0.5rem;
}

a {
    color: #3fafff;
    text-decoration: none;
}

a:hover {
    color: #f4f4f5;
    text-decoration: underline;
}

a:active {
    color: #f4f4f5;
    text-decoration: underline;
}

a:visited {
    color: #a4a8f5;
    text-decoration: underline;
}

.collapsable-button {
    color: #3fafff;
    text-decoration: none;
}

.collapsable-button:hover {
    color: #f4f4f5;
    text-decoration: underline;
}

.collapsable-button:active {
    color: #f4f4f5;
    text-decoration: underline;
}

.project-links {
    margin-top: 0.25rem;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: -0.5rem;
}

.old-stuff {
    margin-top: 0.25rem;
}

.project-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0;
    margin: 0 -0.1rem;
    font-weight: 700;
    transition: font-weight 0.2s ease-in-out;
    cursor: pointer;
    user-select: none;
}

.project-name {
    line-height: 100%;
    font-weight: 700;
    transition:
        font-weight 0.1s ease-in-out,
        letter-spacing 0.1s ease-in-out;
    font-size: 2.5rem;
}

.project-title:hover .project-name {
    letter-spacing: 0.05rem;
    font-weight: 950;
}

.project-title:active .project-name,
.project:open .project-name {
    letter-spacing: 0.01rem;
    font-weight: 500;
}

.project:open .project-title:hover .project-name {
    letter-spacing: 0.01rem;
    font-weight: 300;
}

.project:open .project-title:active .project-name {
    font-weight: 700;
}

.project-date {
    font-size: 2rem;
    font-weight: 700;
    color: #afafb4;
    font-family: "Geist Mono", monospace;
}

summary {
    margin-bottom: 0.25rem;
}

.hidden {
    display: none;
}

#what-display {
    display: none;
}

#what:checked + .collapsable-button + #what-display {
    margin-top: 1rem;
    padding-top: 1rem;
    display: block;
    border-top: 1px solid #4a4a4f;
}

#what-display {
    margin-top: 0.5rem;
}

hr {
    border: none;
    border-top: 1px solid #4a4a4f;
    margin: 1rem 0;
}

.contact {
    display: flex;
    gap: 4px;
    justify-content: center;
    font-size: 1.5rem;
}

.contact a.contact-link {
    color: #4a4a4f;
}

.contact a.contact-link:hover {
    color: #f4f4f5;
}

.contact a.contact-link:active {
    color: #f4f4f5;
}

.contact a.contact-link:visited {
    color: #4a4a4f;
}

.contact a.contact-link:visited:hover {
    color: #f4f4f5;
}

.contact a.contact-link:visited:active {
    color: #f4f4f5;
}

.contact-right {
    margin-top: -0.1rem;
    line-height: 110%;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    font-size: 0.75rem;
}

.old .project-name {
    color: #afafb4;
}

.old .project-date {
    color: #888894;
}

details div {
    margin-top: 0.25rem;
}

@media (hover: none) and (pointer: coarse) {
    html {
        font-size: 18pt;
    }
}
