<!doctype html>
<html>
    <head>
        <!--- <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script> -->
        <link href="https://iosevka-webfonts.github.io/iosevka/Iosevka.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="/bundle.css" />
        <title>{{ title }}</title>
    </head>
    <body>
        {{ content }}
    </body>
</html>
